body{
    padding: 30px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #828bdb;
    opacity: 0.8;
}
img[data-testid = 'slackDisplayImage']{
    max-width: 150px;
    border-radius: 50%;
    margin: 2rem 0;
    transform: rotate(-30deg);
    transition: transform 0.3s ease-out;
}
body img:hover{
    transform: scale(1.5);
}
h1{
    font-family: cursive;
}
h1:hover{
    color: aliceblue;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
.details{
    display:inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.details p{
    color: antiquewhite;
    background: #1b1c1f;
    padding: 10px 25px;
    border: none;
    text-decoration: none;
    cursor: none;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.details p:hover{
    background: #fff;
    color: #3849e4;
}

.details a[data-testid="githubURL"]{
    color: white;
    background: #1b1c1f;
    padding: 10px 25px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.details a[data-testid="githubURL"]:hover{
    color:#3849e4;
    background: #fff;
}

.time-zone {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2rem;
    cursor: none;
}
.time-zone p{
    flex: 1;
    font-size: 18px;
    margin: 5px 0;
    padding: 5px;
}

